page-login {

  #loginScreen{
    padding:5px;
    background:url('../assets/background.jpg');
  }

  #login-card{
    margin-top: 150px;
  }
  .link-container{
    display:flex;
    margin-top:10px;
  }

  .login-link
  {
    flex:1;
  }



}
